Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized.

Create a markdown cell to list data science languages


Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL
6. Java

Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

Create a markdown cell with a table of Data Science tools

# Data Science Tools
|S.NO.|     TOOLS      |
|:---:|:--------------:|
|  1  |   Apache Spark |
|  2  |      BigML     |
|  3  |       SAS      |

Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

### Addition
2 + 3 = 5

### Subtraction
8 - 5 = 3

### Multiplication
3 * 4 = 12

### Division
10 / 2 = 5

#Create a code cell to multiply and add numbers

#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

In [6]:
#Create a code cell to convert minutes to hours

#This will convert 200 minutes to hours by diving by 60

minutes=200
hours=minutes/60
print("200 minutes is equal to",hours,"hours")

200 minutes is equal to 3.3333333333333335 hours

Insert a markdown cell to list Objectives

# Objectives:
* Data Science Libraraies
* Data Scienec Tools
* GitHub
* Headings
* Arithmatic Operations

## Author:

Sumit Saklani